[submodule "common"]
	path = common
	url = https://github.com/VILLASframework/common.git
[submodule "fpga"]
	path = fpga
	url = https://github.com/VILLASframework/fpga.git
[submodule "packaging/live-iso/fedora-kickstarts"]
	path = packaging/live-iso/fedora-kickstarts
	url = https://pagure.io/fedora-kickstarts.git

