[submodule "web/socket/flot"]
	path = web/socket/flot
	url = https://github.com/flot/flot.git
[submodule "thirdparty/libconfig"]
	path = thirdparty/libconfig
	url = https://github.com/hyperrealm/libconfig.git
[submodule "thirdparty/libwebsockets"]
	path = thirdparty/libwebsockets
	url = https://github.com/warmcat/libwebsockets
[submodule "thirdparty/criterion"]
	path = thirdparty/criterion
	url = https://github.com/Snaipe/Criterion
[submodule "thirdparty/libnl"]
	path = thirdparty/libnl
	url = https://github.com/thom311/libnl.git
[submodule "thirdparty/jansson"]
	path = thirdparty/jansson
	url = https://github.com/akheron/jansson.git
[submodule "thirdparty/libcurl"]
	path = thirdparty/libcurl
	url = https://github.com/curl/curl.git
[submodule "thirdparty/libxil"]
	path = thirdparty/libxil
	url = ../libxil.git
[submodule "thirdparty/libopal"]
	path = thirdparty/libopal
	url = ../libopal.git
[submodule "thirdparty/nanomsg"]
	path = thirdparty/nanomsg
	url = https://github.com/nanomsg/nanomsg.git
[submodule "thirdparty/libzmq"]
	path = thirdparty/libzmq
	url = https://github.com/zeromq/libzmq.git
[submodule "thirdparty/protobuf-c"]
	path = thirdparty/protobuf-c
	url = https://github.com/protobuf-c/protobuf-c.git
