# SPDX-FileCopyrightText: 2014-2023 Institute for Automation of Complex Power Systems, RWTH Aachen University
# SPDX-License-Identifier: Apache-2.0

/build*/
*~
.clang_complete
.project
.cproject
.settings/
.vscode/
.direnv/
.cache/

*.swp
*.pyc
*.a
*.o
*.so
*.user
*.egg-info/
compile_commands.json

python/dist/
python/.eggs/
python/villas/node/villas_pb2.py

# YouCompleteMe
.ycm_extra_conf.py

graph.dot
