# SPDX-FileCopyrightText: 2014-2023 Institute for Automation of Complex Power Systems, RWTH Aachen University
# SPDX-License-Identifier: Apache-2.0

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @stv0g will be requested for
# review when someone opens a pull request.
*       @stv0g

# Order is important; the last matching pattern takes the most
# precedence. When someone opens a pull request that only
# modifies the following files, only the following members
# and not the global owner(s) will be requested for a review.

# FPGA
fpga                                                @n-eiling
/lib/nodes/fpga.cpp                                 @n-eiling
/include/villas/nodes/fpga.hpp                      @n-eiling
/tools/hwdef-parse.py                               @n-eiling
/tools/fpga-*                                       @n-eiling
/fpga                                               @n-eiling
/etc/examples/nodes/fpga.conf                       @n-eiling
/etc/fpga                                           @n-eiling
/doc/openapi/components/schemas/nodes/fpga.yaml     @n-eiling


# PMU
/lib/nodes/libiec61850_goose.cpp                    @windrad6
/include/villas/nodes/libiec61850_goose.hpp         @windrad6
/lib/nodes/uldaq.cpp                                @windrad6
/include/villas/nodes/uldaq.hpp                     @windrad6
/lib/dumper.cpp                                     @windrad6
/include/villas/dumper.hpp                          @windrad6

# VFIO related files
/common/lib/kernel/pci.cpp                          @n-eiling
/common/lib/kernel/vfi_*.cpp                        @n-eiling
/common/include/villas/kernel/pci.hpp               @n-eiling
/common/include/villas/kernel/vfio_*.hpp            @n-eiling
