# SPDX-FileCopyrightText: 2014-2023 Institute for Automation of Complex Power Systems, RWTH Aachen University
# SPDX-License-Identifier: Apache-2.0

*.o
*.d
AsyncIP
Opcommon/
report/
*_sm_model/
*_ss_model/
*_sc_console.mdl
