[submodule "lib/gpu/gdrcopy"]
	path = gpu/thirdparty/gdrcopy
	url = https://github.com/daniel-k/gdrcopy.git
[submodule "thirdparty/udmabuf"]
	path = thirdparty/udmabuf
	url = https://github.com/ikwzm/udmabuf
[submodule "common"]
	path = common
	url = ../../common.git
