# Git submodule list
#
# SPDX-FileCopyrightText: 2017 Institute for Automation of Complex Power Systems, EONERC
# SPDX-License-Identifier: Apache-2.0

[submodule "common"]
	path = common
	url = https://github.com/VILLASframework/common.git
[submodule "thirdparty/libxil"]
	path = thirdparty/libxil
	url = https://github.com/VILLASframework/libxil.git
[submodule "thirdparty/udmabuf"]
	path = thirdparty/udmabuf
	url = https://github.com/ikwzm/udmabuf
[submodule "lib/gpu/gdrcopy"]
	path = gpu/thirdparty/gdrcopy
	url = https://github.com/daniel-k/gdrcopy.git
