# Project-wide gitignore file
#
# SPDX-FileCopyrightText: 2017 Institute for Automation of Complex Power Systems, RWTH Aachen University
# SPDX-License-Identifier: Apache-2.0

build/
.vscode/

*.a
*.o
*.so
*.user
graph.dot
