[submodule "thirdparty/criterion"]
	path = thirdparty/criterion
	url = https://github.com/Snaipe/Criterion.git
[submodule "thirdparty/libxil"]
	path = thirdparty/libxil
	url = ../libxil.git
[submodule "lib/gpu/gdrcopy"]
	path = gpu/thirdparty/gdrcopy
	url = https://github.com/daniel-k/gdrcopy.git
[submodule "thirdparty/udmabuf"]
	path = thirdparty/udmabuf
	url = https://github.com/ikwzm/udmabuf
[submodule "hardware"]
	path = hardware
	url = ../fpga-hardware.git
[submodule "common"]
	path = common
	url = ../../common.git
