# Project-wide gitignore file
#
# SPDX-FileCopyrightText: 2017-2022, Institute for Automation of Complex Power Systems, EONERC
# SPDX-License-Identifier: Apache-2.0

build/
.vscode/

*.a
*.o
*.so
*.user
graph.dot
