# Author: Steffen Vogel <steffen.vogel@opal-rt.com>
# SPDX-FileCopyrightText: 2023 OPAL-RT Germany GmbH
# SPDX-License-Identifier: Apache-2.0
---
BasedOnStyle: LLVM

# Disable automatic line-breaks in comments
# as this breaks SPDX headers
ReflowComments: false
