# Author: Niklas Eiling <niklas.eiling@eonerc.rwth-aachen.de>
# SPDX-FileCopyrightText: 2023 Niklas Eiling <niklas.eiling@eonerc.rwth-aachen.de>
# SPDX-License-Identifier: Apache-2.0

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @stv0g will be requested for
# review when someone opens a pull request.
*       @stv0g

# Order is important; the last matching pattern takes the most
# precedence. When someone opens a pull request that only
# modifies the following files, only the following members
# and not the global owner(s) will be requested for a review.

# VFIO related files
/lib/kernel/pci.cpp                         @n-eiling
/lib/kernel/vfi_*.cpp                       @n-eiling
/include/villas/kernel/pci.hpp              @n-eiling
/include/villas/kernel/vfio_*.hpp           @n-eiling
