[Unit]
Description=dhclient on all interfaces
Wants=network.target
 
[Service]
Type=forking
ExecStart=/sbin/dhclient -4 -w

Restart=on-failure
RestartSec=10

TimeoutSec=60
 
[Install]
WantedBy=network.target
