[Unit]
Description=S2SS LiveUSB Image setup
Requires=network-online.target

[Service]
Type=simple
ExecStart=/etc/image/setup.sh
RemainAfterExit=yes

Restart=on-failure
RestartSec=10

TimeoutSec=60

[Install]
WantedBy=multi-user.target
