/*
SPDX-FileCopyrightText: 2014-2023 Institute for Automation of Complex Power Systems, RWTH Aachen University
SPDX-License-Identifier: Apache-2.0
*/

#projectname {
	font-size: 200%;
}

#projectlogo img {
	height: 3.5em;
	margin: 0.25em;
}

#institutelogo img {
	height: 3em;
	margin: 0.5em;
	position: absolute;
	right: 0;
	top: 0;
}
